<tei2html.config>
    <toc.numberEntries>false</toc.numberEntries>
    <text.abbr>F.R.G.S.; P.R.G.S.; R.G.S.; G.C.B.; M.V.O.; H.M.S.; K.C.B.; F.R.S.; F.R.G.; S.S.E.; W.N.W.; N.N.E.; S.S.W.; W.N.W.; E.S.E.; E.N.E.; W.S.W.; E.N.E.; N.N.W.; C.I.E.; LL.D.; N.-S.; B.A.; M.A.; A.M.; P.M.; A.D.; B.C.; i.e.; e.g.; M.D.; R.N.; H.M.; N.W.; N.E.; S.W.; S.E.; W.C.; R.P.</text.abbr>
</tei2html.config>